.jumbotron{ :style => "margin: 3em;"}
  %h1{ :style => "text-align: center;" }=@title
  %h4{ :style => "text-align: center;" }=@msg
  %div{ :style => "margin: 1em; text-align: center;" }
    %button.btn.btn-success{ :onclick => 'history.back()'} Back
    %a.btn.btn-primary{ :href => '/'} Go to Homepage

